body{
	background: linear-gradient(to right, red,yellow,blue);
}
.feedback { 
	transition: all .2s ease-in-out; 
}
.feedback:hover { 
	transform: scale(1.1);
	color: white;
}
.simulation { 
	transition: all .2s ease-in-out; 
}
.simulation:hover { 
	transform: scale(1.1);
	color: white;
}
.home2 { 
	transition: all .2s ease-in-out; 
}
.home2:hover { 
	transform: scale(1.1);
	color: white;
}
.next2 { 
	transition: all .2s ease-in-out; 
}
.next2:hover { 
	transform: scale(1.1);
	color: white;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
	color: black;
}
.hfah1 {
	top: 0vh;
	position: absolute;
	right: 0;
	width: 100vw;
	height: 15vh;
	border-style: solid;
	align-items: center;
	justify-content: center;
	border-width: 2px;
	box-sizing: border-box;
	border-top-width: 3px;
	border-left-width: 3px;
	border-right-width: 3px;
	font-size: 45px;
	font-family: 'Nobile', sans-serif;
}
.hfainfo {
	position: fixed;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 10%;
	margin-bottom: 0px;
	align-items: center;
	justify-content: center;
	display: flex;
	height: inherit;
	float: left;
	padding: 7px;
	font-size: 25px;
	font-family: 'Nobile', sans-serif;	
}
.feedback {
	position: absolute;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	margin-left: 600px;
	margin-right: 600px;
	margin-top: 47%;
	margin-bottom: 0px;
	align-items: center;
	justify-content: center;
	display: block;
	height: inherit;
	float: left;
	padding: 7px;
	font-size: 25px;
	font-family: 'Nobile', sans-serif;
}
.simulation {
	position: absolute;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	margin-left: 1200px;
	margin-right:300px;
	margin-top: 47%;
	margin-bottom: 0px;
	align-items: center;
	justify-content: center;
	display: block;
	height: inherit;
	float: left;
	padding: 7px;
	font-size: 25px;
	font-family: 'Nobile', sans-serif;
}
.home2 {
	position: absolute;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	margin-left: 300px;
	margin-right:300px;
	margin-top: 47%;
	margin-bottom: 0px;
	align-items: center;
	justify-content: center;
	display: block;
	height: inherit;
	float: left;
	padding: 7px;
	font-size: 25px;
	font-family: 'Nobile', sans-serif;
}
.next2 {
	position: absolute;
	border-style: solid;
	border-width: 2px;
	box-sizing: border-box;
	margin-left: 1525px;
	margin-right:1525px;
	margin-top: 47%;
	margin-bottom: 0px;
	align-items: center;
	justify-content: center;
	display: block;
	height: inherit;
	float: left;
	padding: 7px;
	font-size: 25px;
	font-family: 'Nobile', sans-serif;
}
.centertext {
	position: fixed;
	align-items: center;
	justify-content: center;
	display: flex;
	height: inherit;
	float: center;
}
